@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,500;1,400;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.menu {
  display: flex;
  border: 1px black;
  margin: 20px;
  -webkit-box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.25);
  padding: 25px;
  background-color: #31af36;
  color: white;
}
.menu_titulo {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  color: white;
  margin: 20px;
}
.contenedor_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.contenedor_menu div {
  width: 17%;
  height: 100%;
  cursor: pointer;
  margin-left: 5px;
  background-color: #f1bc0b;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
  padding: 12px;
}
.contenedor_contenido {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
  color: black;
  margin: 23px;
}
.contenido {
  margin: 10px;
  width: 30%;
}
.operaciones {
  width: 70%;
  margin: 10px;
}
.operaciones_datos {
  width: auto;
  display: flex;
}
.contenido_principal {
  width: 100%;
  display: flex;
}
.accion {
  display: flex;
}
.accion div {
  width: 50%;
  display: flex;
  margin-bottom: 5px;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.accion div h3 {
  display: block;
}
.contenido_seleccion_titulo {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  background-color: crimson;
  color: wheat;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 20px;
}
.contenido_titulo {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #31af36;
}
.contenido_titulo h3 {
  font-style: italic;
}
.contenido_tabla div h2 {
  font-weight: 400;
}
.contenido_tabla,
.contenido_tabla_titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  text-align: center;
}
.contenido_tabla div {
  width: 100%;
}

.contenido_tabla_titulo div {
  width: 122px;
  border: 1px gainsboro solid;
}

.contenido_tabla_datos div {
  width: 122px;
  border: 1px gainsboro solid;
}
.contenido_tabla_datos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.contenido_tabla_datos div input {
  font-weight: 300;
  font-size: 20px;
  width: 99%;
  display: block;
  text-align: center;
  outline: none;
}

.boton {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #31af36;
  color: white;
  text-align: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  text-align: center;
}

.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
}
.operaciones_titulo {
  width: auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  font-size: larger;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  -webkit-box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.25);
}
.TR {
  width: 30%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin-right: 5px;
}
.TR_titulos {
  background-color: #f1bc0b;
}
.TR_titulos,
.TR_datos {
  width: 100%;
  display: flex;
}
.TR_titulos div,
.TR_datos div {
  width: 50%;
  text-align: center;
  border: 1px solid black;
}
.TR_datos {
  display: flex;
}

.TE {
  width: 30%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin-right: 5px;
}
.TE_titulos {
  background-color: #f1bc0b;
}
.TE_titulos,
.TE_datos {
  width: 100%;
  display: flex;
}
.TE_titulos div,
.TE_datos div {
  width: 50%;
  text-align: center;
  border: 1px solid black;
}
.Tiempos_medios {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}
.TME {
  width: 100%;
  height: 45%;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.TME div {
  text-align: center;
}
.TME_titulo {
  background-color: #f1bc0b;
  border: 2px solid black;
}
.TME_dato {
  border: 1px solid black;
}

.TMR {
  width: 100%;
  height: 45%;
  align-content: center;
  align-items: center;
}
.TMR div {
  text-align: center;
}
.TMR_titulo {
  background-color: #f1bc0b;
  border: 2px solid black;
}
.TMR_dato {
  border: 1px solid black;
}

.operaciones_boton {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}
.operaciones_boton div {
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.ov-btn-grow-skew {
  background: #fff; /* color de fondo */
  color: crimson; /* color de fuente */
  border: 2px solid crimson; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  width: 90%;
}
.ov-btn-grow-skew:hover {
  color: #fff; /* color de fuente hover */
}
.ov-btn-grow-skew::after {
  content: "";
  background: crimson; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}
.ov-btn-grow-skew:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}
a {
  text-decoration: none;
}

.ov-btn-grow-skew_2 {
  background: #fff; /* color de fondo */
  color: white; /* color de fuente */ /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  font-weight: 500;
}
.ov-btn-grow-skew_2:hover {
  color: black; /* color de fuente hover */
}
.ov-btn-grow-skew_2::after {
  content: "";
  background: crimson; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}
.ov-btn-grow-skew_2:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}
